.button-container {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 12px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder; 
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all .2s ease;
    -webkit-transition: all .3s ease;

  &:hover {
    background-color: white;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    // transition: all .4s ease;
    // -webkit-transition: all .4s ease;
     
  }

  &.google-sign-in { 
    background-color: #4285f4;
    color: white;


    &:hover {
      background-color: #236adb;
      border: none;
      
    }
  }

  &.inverted {
    background-color: white;
    color: black;
    // border: 1px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);


    &:hover {
      background-color: black;
      color: white;
      // border: 1px solid white;
      box-shadow: 0 8px 10px 0 rgba(97, 95, 95, 0.538), 0 6px 10px 0 rgba(120, 119, 119, 0.544);
    }
  }
}
