.footer-section {
    //  position: fixed;
    text-align: center;
    bottom: 0;
    width: -webkit-fill-available;
    height: 2.5rem;
    margin-top: auto;

    .copyright-section {
        color: #acacac;
    }
}